{% include "header.html" %}

<div class="container">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="glyphicon glyphicon-ok"></span> {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div id="study">
        <div align="center">
            <h2> Competition: {{ competition.name }} </h2>
        </div>

        <table class="table table-striped table-hover table-condensed">
            <th class="text-center active">Attribute</th>
            <th class="text-center success">Value</th>

            <tr>
                <td class="text-center active">Id</td>
                <td class="text-center success">{{ competition.id }}</td>
            </tr>
            <tr>
                <td class="text-center active">Name</td>
                <td class="text-center success">{{ competition.name }}</td>
            </tr>
            <tr>
                <td class="text-center active">Introduction</td>
                <td class="text-center success">{{ competition.introduction }}</td>
            </tr>
            <tr>
                <td class="text-center active">Parameters Description</td>
                <td class="text-center success">{{ competition.parameters_description }}</td>
            </tr>
            <tr>
                <td class="text-center active">Goal</td>
                <td class="text-center success">{{ competition.goal }}</td>
            </tr>
            <tr>
                <td class="text-center active">Computation Budge</td>
                <td class="text-center success">{{ competition.computation_budge }}</td>
            </tr>
            <tr>
                <td class="text-center active">Theoretical Best Metrics</td>
                <td class="text-center success">{{ competition.theoretical_best_metrics }}</td>
            </tr>
            <tr>
                <td class="text-center active">Current Best Metrics</td>
                <td class="text-center success">{{ competition.current_best_metrics }}</td>
            </tr>
            <tr>
                <td class="text-center active">Status</td>
                <td class="text-center success">{{ competition.status }}</td>
            </tr>
            <tr>
                <td class="text-center active">Created Time</td>
                <td class="text-center success">{{ competition.created_time }}</td>
            </tr>
            <tr>
                <td class="text-center active">Updated Time</td>
                <td class="text-center success">{{ competition.updated_time }}</td>
            </tr>
        </table>

    </div>

    <div id="trials">
        <div align="center">
            <h2> Participations </h2>
        </div>

        <table class="table table-striped table-hover table-condensed">
            <th class="text-center active">Id</th>
            <th class="text-center success">Username</th>
            <th class="text-center warning">Email</th>
            <th class="text-center danger">Current Best Metrics</th>
            <th class="text-center info">Current Trial Count</th>
            <th class="text-center active">Status</th>
            <th class="text-center success">Created Time</th>
            <th class="text-center warning">Updated Time</th>
            <!--
            <th class="text-center danger">Operation</th>
            -->

            {% for participation in participations %}
            <tr>
                <td class="text-center active"><a
                        href="/dashboard/v1/participations/{{ participation.id }}">{{ participation.id }}</a></td>
                <td class="text-center success">{{ participation.username }}</td>
                <td class="text-center warning">{{ participation.email }}</td>
                <td class="text-center danger">{{ participation.current_best_metrics }}</td>
                <td class="text-center info">{{ participation.current_trial_count }}</td>
                <td class="text-center active">{{ participation.status }}</td>
                <td class="text-center success">{{ participation.created_time }}</td>
                <td class="text-center warning">{{ participation.updated_time }}</td>
                <!--
                <td class="text-center danger">
                    <input type="image" width="22px" src="/static/images/delete-icon.png" alt="Delete"
                           onclick="delete_resource('/dashboard/v1/studies/{{ trial.study_id }}/trials/{{ trial.id }}')"/>
                </td>
                -->
            </tr>
            {% endfor %}

        </table>
    </div>

</div><!-- end of container div -->

{% include "footer.html" %}
