{% include "header.html" %}

<div class="container">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="glyphicon glyphicon-ok"></span> {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div id="trial">
        <div align="center">
            <h2> Participation: {{ participation.username }} </h2>
        </div>

        <table class="table table-striped table-hover table-condensed">
            <th class="text-center active">Attribute</th>
            <th class="text-center success">Value</th>

            <tr>
                <td class="text-center active">Id</td>
                <td class="text-center success">{{ participation.id }}</td>
            </tr>
            <tr>
                <td class="text-center active">Competition Name</td>
                <td class="text-center success">{{ participation.competition.name }}</a></td>
            </tr>
            <tr>
                <td class="text-center active">Username</td>
                <td class="text-center success">{{ participation.username }}</td>
            </tr>
            <tr>
                <td class="text-center active">Email</td>
                <td class="text-center success">{{ participation.email }}</td>
            </tr>
            <tr>
                <td class="text-center active">Current Best Metrics</td>
                <td class="text-center success">{{ participation.current_best_metrics }}</td>
            </tr>
            <tr>
                <td class="text-center active">Current Trial Count</td>
                <td class="text-center success">{{ participation.current_trial_count }}</td>
            </tr>
            <tr>
                <td class="text-center active">Status</td>
                <td class="text-center success">{{ participation.status }}</td>
            </tr>
            <tr>
                <td class="text-center active">Created Time</td>
                <td class="text-center success">{{ participation.updated_time }}</td>
            </tr>
            <tr>
                <td class="text-center active">Updated Time</td>
                <td class="text-center success">{{ participation.updated_time }}</td>
            </tr>
        </table>

    </div>

    <div id="trial_metrics">
        <div align="center">
            <h2> Trials </h2>
        </div>

        <table class="table table-striped table-hover table-condensed">
            <th class="text-center active">Id</th>
            <th class="text-center success">Parameters Instance</th>
            <th class="text-center warning">Metrics</th>
            <th class="text-center danger">Status</th>
            <th class="text-center info">Created Time</th>
            <th class="text-center active">Updated Time</th>
            <!--
            <th class="text-center active">Operation</th>
            -->

            {% for trial in trials %}
            <tr>
                <td class="text-center active">{{ trial.id }}</td>
                <td class="text-center success">{{ trial.parameters_instance }}</td>
                <td class="text-center warning">{{ trial.objective_value }}</td>
                <td class="text-center danger">{{ trial.status }}</td>
                <td class="text-center info">{{ trial.created_time }}</td>
                <td class="text-center active">{{ trial.updated_time }}</td>
                <!--
                <td class="text-center active">
                    <input type="image" width="22px" src="/static/images/delete-icon.png" alt="Delete"
                           onclick="delete_resource('/dashboard/v1/studies/{{ trial.study_id }}/trials/{{ trial.id }}/metrics/{{ trial_metric.id }}')"/>
                </td>
                -->
            </tr>
            {% endfor %}

        </table>
    </div>

</div><!-- end of container div -->

{% include "footer.html" %}
